:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    --gap-12: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #465bd3;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
}

.input {
    padding: var(--gap-12) 10px;
    flex-grow: 1;
    border: none;
    border-bottom: 2px solid #3b3b3b;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    &:focus {
        border-color: #afe6ff;
    }
}
